.dlicon{
  max-width: 20px;
}

.filetd a{
  display: flex;
  justify-content: center;
}

tr,th{
  text-align: center;
}

thead{
  color:#fff;
  background-color: #a7c0d8;
}

table{
  margin:3rem 0;
}

tbody{
  text-align: center;
}